<h1>Invoices Dashboard</h1>
<h2>Status Percentages</h2>
<ul>
  <li>Pending <%= @invoices.percent_pending %></li>
  <li>Shipped <%= @invoices.percent_shipped %></li>
  <li>Returned <%= @invoices.percent_returned %></li>
</ul>
<h2>Unit Prices</h2>
<h3>Highest</h3>
  <ul>
    <li>Invoice: <%= @invoices.highest_price %></li>
  </ul>
<h3>Lowest</h3>
  <ul>
    <li>Invoice: <%= @invoices.lowest_price %></li>
  </ul>
