<header class="jumbotron jumbotron-fluid border-top border-bottom" id="jumbo">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="display-4">Items Dashboard</h1>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title h5 text-center">Total Item Count</h5>
        <p class="card-text text-center h1">
          <%= @items.total_item_count %>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title h5 text-center">Average Price Per Item</h5>
        <p class="card-text text-center h1">
          <%= @items.average_price %>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title h5 text-center">Item By Age</h5>
        <p class="card-text">
          <u>Newest</u><br />
          Item: <a href="/items/<%= @items.newest_item.id %>"><%= @items.newest_item.name %></a><br /><br />
          <u>Oldest</u><br />
          Item: <a href="/items/<%= @items.oldest_item.id %>"><%= @items.oldest_item.name %></a>
        </p>
      </div>
    </div>
</main>
