<header class="jumbotron jumbotron-fluid border-top border-bottom" id="jumbo">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="#">Dashboard</a>
      </div>
      <div class="col-sm-4 text-center">
        <h1 class="display-4">Items</h1>
        <a class="btn btn-primary btn-lrg" href="/items/new" role="button">Create A New Item</a>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <div class="card-columns item-columns">
    <% @items.each do |item| %>
      <div class="card">
        <img class="card-img-top" src="/<%= item.image %>">
        <div class="card-body">
          <h6 class="card-title h6"><a href="/items/<%= item.id %>" title="<%= item.name %>"><%= item.name.gsub(/^(.{16,}?).*$/m,'\1...') %></a></h6>
          <p class="card-text"><%= number_to_currency(item.unit_price) %></p>
        </div>
      </div>
    <% end %>
  </div>
</main>
