<h1><%= @item.name %></h1>
<a href="/items/<%= @item.id %>/edit">Edit</a>
<form action="/items/<%= @item.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
<ul>
  <li><a href="/merchants/<%= @item.merchant_id %>"><%= @item.merchant.name %></a></li>
  <li><%= @item.name %></li>
  <li id="unit-price"><%= number_to_currency(@item.unit_price) %></li>
  <li><%= @item.description %></li>
  <li><img src="<%= @item.image %>"></li>
</ul>
